

#navbar{
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h4{
    color: white;
}

.btn{
    margin-top: 5px;
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



    color: white;
}

.btn:hover{
    color: white;
}

.form-control{
    margin-top: 5px;
}

.city{
    font-size: 60px;
}

.temp{
    font-size: 80px;
    color: white;
}

img{
    height: 200px;
    width: 200px;
}

#cardBack{
    background-color: rgb(39, 135, 194);
}

.text{
    color: white;
}

.second{
    color: rgb(22, 19, 19);
}

.sec{
    background-color: rgb(128, 206, 255);
}

.temp2{
    font-size: 60px;
}

.float{
    float: right;
}